
.navbar-brand.active {
    background-color: white;
    color: blue !important;
    border-radius: 5px;
    padding: 5px 10px;
}

.nav-link.active{
    background-color: white;
    color: blue !important;
    border-radius: 5px;
    padding: 5px 10px;
}